body {
  text-align: center;
  background-color: black;
}

h1 {
  font: 42px verdana;
  font-weight: 300;
  color: white;
}
p {
  font: 21px verdana;
  color: grey;
}
h6 {
  color:aquamarine;
  font-size: 16px;
}
#top h1{
  font: 50px verdana;
  font-weight: normal;
}
.copyright {
  text-align: right;
}
